*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000;
    color: white;
    margin: 0%;
}

h1{
    font-size: 65px;
}

.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.load1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
    animation: dot-animation 1s infinite;
}

.load2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
    animation: dot-animation 1s infinite;
}

.load3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
    animation: dot-animation 1s infinite;
}

@keyframes dot-animation{
    0%{
        opacity: 0.2;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.5);
    }
    100%{
        opacity: 0.2;
        transform: scale(1);
    }
}

@media only screen and (min-width:200px) and (max-width:750px){
    h1{
        font-size: 35px;
    }
}